/cyaneval.env/*
/venv/*
/data/selected_cameras.csv.DS_Store
/data/selected_cameras.csv
/tmp/*
/.ipynb_checkpoints/*
__pycache__/*
/.streamlit/*
test*
todelete.py
test.ipynb
requirements.old.txt
test.ipynb
mermaid_example.gl
salesagent_prev.py
camera_prev.py
test_streamlit_trigering.py
test_mermaid.py
test_mermaid.ipynb
.DS_Store
